.summary {
  width: 80%;
  margin: 0 auto;
  margin-top: 7%;
}

mat-card {
  color: white;
  background-color: rgba(109, 109, 109, 0.1);
  border: 1px solid rgba(158, 158, 158, 0.3);
  max-height: 60%;
}
mat-card-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
  margin: 20px 10px;
  margin-bottom: 10px;
  overflow: hidden;
}
.img-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2%;
  max-height: 60%;
  max-width: 60%;
  margin: auto;
}
.img {
  height: auto;
  width: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  object-fit: contain;
  max-height: 300px;
  max-width: 500px;
}
.text-section {
  margin-left: 2%;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  min-width: 50%;
}

.card-actions-div {
  margin-left: 10px;
  color: white;
}

.mat-delete {
  background-color: #c52132;
  color: white;
}
.mat-edit {
  background-color: #da8114;
  color: white;
}


@media (max-width: 1032px) {
  mat-card-content {
    flex-direction: column;
  }
  .img-section {
    margin-bottom: 5%;
  }
  .img {
    margin-right: 0;
  }
}

.mat-download {
  background-color: rgba(71, 71, 71, 0.973);
  cursor: pointer;
}
.mat-download:hover {
  background-color: rgb(102, 102, 102);
}
.mat-download a {
  color: white;
  text-decoration: none;
}


@media (max-width: 620px) {
  .summary {
    width: 100%;
    margin: 0;
    margin-top: 15%;
  }
}
