<div class="cards-container">
  <div class="card-place" *ngIf="fileInfos.length !== 0; else noImages">
    <mat-card
      matRipple
      *ngFor="let file of fileInfos"
      (click)="goToDetails(file.id)"
      routerLink="/summary-photo"
    >
      <mat-card-content>
        <img src="{{ file.url }}" alt="{{ file.name }}" />
        <p class="img-title">id: {{ file.id }} - {{ file.name }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <ng-template #noImages class="card-place">
    <app-loader></app-loader>
  </ng-template>
</div>
