<div class="form">
  <mat-card>
    <mat-card-title *ngIf="!id; else addView">Ingresar nueva imagen</mat-card-title>
    <ng-template #addView>
      <mat-card-title>{{title}}</mat-card-title>
    </ng-template>
    <mat-card-content>
      <form class="form-place" novalidate #userForm="ngForm" [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
        <div class="form-img">
          <div class="img-preview" *ngIf="img_ready; else selectedImg">
            <img
              class="img"
              src="https://www.freeiconspng.com/uploads/success-icon-10.png"
              alt="Success.ico"
            />
          </div>

          <ng-template #selectedImg>
            <div class="img-preview">
              <img
                class="img"
                src="https://www.freeiconspng.com/uploads/upload-icon-22.png"
                alt="Upload Files Free"
              />
            </div>
          </ng-template>
          <label for="formFile" class="form-label">Seleccionar Imagen</label>
          <input
            class="form-control"
            type="file"
            id="formFile"
            (change)="onFileSelect($event)"
            accept="image/png, image/jpeg, image/jgp"
            name="img_input"
          />
        </div>

        <div class="form-text">
          <mat-form-field appearance="outline">
            <mat-label> Titulo imagen</mat-label>
            <input matInput type="text" placeholder="Titulo" name="title_input" formControlName="title" required/>
          </mat-form-field>
          
          <mat-form-field appearance="outline">
            <mat-label> Descripcion imagen</mat-label>
            <textarea matInput placeholder="Descripcion" name="description_input" formControlName="description" required> </textarea>
          </mat-form-field>
          
          <div class="form-actions">
            <button
            mat-raised-button
            color="success-btn"
            [disabled]="!formIsReady"
            type="submit"
          >
            Guardar
          </button>
          <button mat-raised-button color="back-btn" routerLink="">Cancelar</button>
          </div>
        </div>
      </form>
      
    </mat-card-content>
    <mat-card-actions>
      <div class="progreso-box">
        <div *ngIf="isUploading" class="alert alert-dark mb-2 p-1" role="alert">
          Status: <b>{{ status }}</b> 
          <div *ngIf="isUploading" class="progress mt-2">
            <div
              class="progress-bar-animated progress-bar bg-success progress-bar-striped"
              role="progressbar"
              attr.aria-valuenow="{{ progress }}"
              aria-valuemin="0"
              aria-valuemax="100"
              [ngStyle]="{ width: progress + '%' }"
            >
              {{ progress }}%
            </div>
          </div>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
