.form {

  width: 70%;
  height: auto;
  margin: 10% auto;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.5);
}
.img-preview {
  display: flex;
  justify-content: center;
  min-width: 100px;
  filter: invert(100%);
}
.img {
  width: 100px;
  max-height: 100px;

}
.img-ok {
  filter: invert(0%);
}
mat-card {
  color: white!important;
  background-color: rgba(109, 109, 109, 0.1);
  border: 1px solid rgba(158, 158, 158, 0.3);
}
.mat-card-title {
  margin-top: 20px;
}
.form-place {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 250px;
}
.form-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  padding-right: 10px;
}
.form-text {
  color: white;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
  padding-left: 10px;
}

::ng-deep .mat-form-field-outline {
    color: rgb(247, 247, 247)!important;

}

::ng-deep .mat-form-field-label {
    color: rgb(255, 255, 255)!important;
    
}

mat-hint{
  color: rgb(255, 255, 255) !important;
}
mat-form-field-hint-wrapper{
  color: white!important;
}
.icon-upload {
  box-sizing: border-box;
  font-size: 50px;
}
.mat-success-btn {
  bottom: 0;
  background-color: rgb(0, 160, 0);
  color: white;
}
.mat-back-btn {
  bottom: 0;
  margin-left: 10px;
  background-color: #c52132;
  color: white;
}
.mat-clear-btn {
  bottom: 0;
  margin-left: 10px;
  background-color: rgb(136, 136, 136);
  color: black;
}

mat-card-actions {
  height: auto;
  padding: 0;
}
mat-card-content {
  margin-bottom: 10px;
}
.progreso-box {
  margin: 0 20px;
}

@media (max-width: 720px) {
  mat-card-content {
    margin: 10px 0;
  }
  .form-place {
    flex-direction: column;
    justify-content: center;
    min-height: 250px;
  }
  .form-img {
    margin: 0;
    padding: 0;
  }
  .form-text {
    margin: 10px 0;
    padding: 0;
    width: auto;
  }

  .mat-back-btn {
    margin: 0;
    margin-top: 10px;
  }
  .form-actions {
    margin-top: 10px;
  }
}
