.example-spacer {
  flex: 1 1 auto;
}

.toolbar {
  color: white;
  position: fixed;
  z-index: 10;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23000770' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23000554' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23000438' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%2300021c' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23000000' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background: linear-gradient(to bottom, #000000b0, rgba(0, 0, 0, 0));
}

.home-link {
  width: auto;
  font-size: 25px;
}

.upload-btn {
  color: white;
  background-color: green;
}

.content {
  width: 90%;
  height: auto;
  margin: 20px auto;

}
.back-btn {
  margin-left: 1rem;
  background-color: seashell;
}

.toolbar-item a {
  color: white;
  text-decoration: none;
}

.button-tools {
  display: none;
  position: fixed;
  z-index: 15;
  background-color: #2a2f4a;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  color: white;
  width: 4rem;
  height: 4rem;
  bottom: 3rem;
  right: 3.5rem;
}
.button-tools:hover {
  background-color: #3b4164;
}
mat-toolbar {
  padding: 0 2.5rem;

}
mat-sidenav-container {
  background-color: transparent;

}
mat-sidenav,
mat-sidenav-content {
  padding: 1 rem;
  width: 100%;
}

mat-sidenav {
  width: 60%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
.sidenav-item-container {
  display: flex;
  flex-direction: column;
}
.sidenav-item {
  text-align: center;
  color: white;
  height: 4rem;
  font-size: 20px;
  background-color: transparent;
  border:none;
}
.sidenav-item:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
}
.sidenav-item a {
  color: white;
  text-decoration: none;
}
.sidenav-divider{
  height: 2px;
  width: 80%;
  background-color: white;
  margin: 0 auto;
}
.side-nav-ico{
  right: 0;
}
@media (max-width: 620px) {
  .button-tools {
    display: block;
  }
  .toolbar-item {
    display: none;
  }
}
