<p>
    <mat-toolbar class="toolbar">
        <button mat-button routerLink="" class="home-link">
            <span class="toolbar-title">{{title}}</span>
            <mat-icon>code</mat-icon>
        </button>

        <span class="example-spacer"></span>

        <button mat-raised-button class="upload-btn" routerLink="/create_photo" routerLinkActive="active" *ngIf="home_view" (click)="in_home()">
            Subir imagen
            <mat-icon>cloud_upload</mat-icon>
        </button>
        <button mat-raised-button class="back-btn" routerLink="" (click)="in_home()">
            <mat-icon>arrow_back_ios</mat-icon>
            Volver
        </button>

    </mat-toolbar>
</p>
<div class="content">
    <app-loader></app-loader>
    <router-outlet></router-outlet>
</div>